body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("img/bg_shoreline.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-purple {
  background-color: rgb(112, 16, 112);
}

.bg-grad-green {
  background: linear-gradient(120deg, #136c13, #248f24 30%, #136c13);
}

/* Social Media buttons set 1 */
.socialMediaLinks a {
  font-size: 26px;
  margin: 0 10px 0 0;
  color: #000000;
  text-decoration: none;
}
.socialMediaLinks a:hover { 
  opacity: 0.7; 
}
.socialMediaLinks a.fa-twitter { 
  color: #00aced;
}
.socialMediaLinks a.fa-facebook-f { 
  color: #3b5998; 
}
.socialMediaLinks a.fa-instagram { 
  color: #8a3ab9; 
}
